.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {   
    margin: 0;
    padding: 0; 
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1200px;
}

.button {   
    font-weight: 500; 
    border: transparent;
    text-transform: uppercase; 
    background: #fb565a;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button:hover {
    background: #e74246;    
}

.button:active {
    background: #d7373b;    
    color: rgba(255, 255, 255, 0.30);
    box-shadow: inset 0px 3px 0px 0px #c13135;
}

.main-header {
    background-color: #eeeeee;
}

.main-navigation {
    min-height: 115px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.main-header-logo {
    line-height: 0;
    margin: 0 10px 1px;
}
span.main-header-logo {
    opacity: 1.0;
}
span.main-header-logo:hover { 
    opacity: 0.8;
}
span.main-header-logo:active {
    opacity: 0.3;
}

.navigation-list {
    margin: 0;
    padding: 0; 
    width: 800px;
    display: flex;    
    justify-content: center;
    margin-bottom: 15px; 
}
.navigation-list ul {
    display: flex;
    margin: 0 auto;
    margin-left: 110px;
    list-style: none;    
}
.navigation-list li {
    margin: 0 40px 0 5px;
}

.navigation-item {
    text-transform: uppercase; 
    font-weight: 500; 
    font-size: 16px;
    line-height: 20px;
    color: black;
    opacity: 1.0;
}

.cart-item {
    display: flex;    
    align-items: center;
    background: url("../img/icon-cart.svg") left no-repeat;
    padding-left: 40px;
    margin-bottom: 15px; 
    margin-right: 30px;
}

.slider {
    position: relative;
    list-style: none;
    height: 430px;
    padding: 0;
    margin: 0;
}

.slider > .slide  {
    position: absolute;
}

.slide-first .button-slide {
    left: 541px;
}
.slide-second .button-slide {
    left: 576px;
}
.slide-third .button-slide {
    left: 611px;
}

.slide-content {    
    display: none;
}

.slide-content > img {
    position: absolute;
    left: 407px;
}

.button-slide {
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 50%;
    margin: 5px;
    position: absolute;
    z-index: 10;
    top: 311px;
}

.button-more {
    width: 240px;
    height: 50px;
    margin: 38px 10px 0 10px;
}

.features {
    padding-top: 4px;
    z-index: 5;
}
.features > h2 {
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    margin: 73px 10px 0 10px;
}
.features > p {
    margin: 27px 10px 0 10px;
    font-size: 16px;
    line-height: 24px;
}

.offer-list {
    margin: 0;
    margin-top: 1px;
    padding: 0 10px;
    height: 500px;
    list-style: none;
    display: flex;
}
.offer-list li {
    margin: 79px 100px 0 0;
    width: 300px;
}

.offer-list h3 {
    margin: 0;
    margin-top: 24px;
    font-size: 24px;     
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase; 
}

.offer-list p {
    margin: 0;
    margin-top: 20px;
    line-height: 24px;
}

.offer-list a {
    display: flex;
    margin: 0;
    margin-top: 31px;
    height: 50px;
    width: 160px;
}

.button-green {
    background: #00ca74;
}

.button-green:hover {
    background: #00bc6c;
}

.button-green:active {
    background: #00aa62;
    box-shadow: inset 0px 3px 0px 0px #009958;
}

.button-yellow {
    background: #efc849;
}

.button-yellow:hover {
    background: #eab534;
}

.button-yellow:active {
    background: #e5a722;
    box-shadow: inset 0px 3px 0px 0px #ce961f;
}

.about-us {
    display: flex;
    height: 510px;
}

.about-us-left-block .about-us-slogan {
    margin: 65px 10px 0;
    font-weight: 500; 
    font-size: 45px;
    line-height: 45px;
}

.about-us-left-block {
    width: 780px;
}

.about-us-left-block > p {
    margin: 33px 10px 0 10px;
    line-height: 23px;
}

.about-us-left-block > .about-us-slogan { 
    margin: 65px 10px 0;   
}

.about-us-left-block > .services-header { 
    text-transform: uppercase;
    margin: 40px 10px 0;
    font-weight: 700;
}

.about-us-left-block > .services-list {
    margin: 18px 10px;
    padding-left: 0px; 
    list-style: none;
}
.services-list > li {
    margin: 10px 0;
    padding: 10px 0 10px 36px;
    background: url("../img/icon-red-line.png") left no-repeat;
}

.about-us-right-block {
    width: 380px;
    text-align: center;
    margin-top: 30px;
    margin-left: 20px;
}

.statistic-slogan {
    margin-top: 33px;
    font-weight: 700;
    text-transform: uppercase;
}

.statistic {
    margin: 0;
    margin-top: 44px;
    padding: 0;
    display: flex;
    list-style: none;
}

.statistic p {
    text-align: left;
    margin: 20px 10px 0 10px;
}
.statistic p.percentages {
    margin: 0 11px; 
    font-size: 45px;
    line-height: 45px;
    font-weight: 700; 
}
.statistic sup {
    font-size: 28px;
}

.partners {
    height: 173px;
}
.partners-list {
    margin: 0;
    margin-top: -10px; 
    padding: 0 10px;
    padding-right: 28px; 
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.partners-item a  {
    opacity: 0.2;
}
.partners-item a:hover {
    opacity: 1.0; 
}
.partners-item a:active {
    opacity: 1.0; 
}

.main-footer {
    margin-top: 25px;
    padding: 20px 0 70px;
}

.contacts {
    height: 100%;
    position: relative;
}

.map { 
    background-image: url("../img/map.png");
    background-repeat: no-repeat;
    background-position-x: calc(50% - 10px);
    height: 420px;
    width: 100%;
}

.map .container {
    position: relative;
}

.address-wrapper {
    width: 319px;
    position: absolute;
    background: #ffffff;
    margin: 54px 10px 10px 10px;
    padding-bottom: 47px;
    padding-top: 5px;
}

.address {
    width: 220px;
    margin: 0 auto;
    margin-top: 50px;
}

.address-header {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 26px;
}

.address p {
    margin-top: 18px;
    color: #666666;
}

.address a {
    line-height: 19px;
    color: #666666;
}
.address a:hover {
    color: #fb565a;
}

.button-write-us {
    margin-top: 37px;
    width: 220px;
    height: 50px;
    color: white;
}

.social {
    padding-top: 65px; 
    display: flex;
}

.social-list {
    margin: 0;
    padding: 0;
    width: 380px;
    display: flex;
    list-style: none;
}

.social-list > li {
    margin-left: 10px;
    line-height: 0;
}

.social-item {
    width: 80px;
    height: 80px;
    display: flex;
    border-radius: 50%;
    background-color: #e1e1e1;
    background-position: 50% 50%;
    background-repeat: no-repeat; 
}

.social-item img {
    margin: auto;
}
.social-item:active img {
    opacity: 0.3;
}

.social-right-block {
    padding-left: 30px;
}

.social-slogan {
    margin: 0;
    padding: 6px 0 0;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
}

.social-description {
    margin: 12px 0 0;
    padding: 0;
}